.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct__info > button {
    background: #4fe6e7;
    border: none;
    margin-top: 10px;
    height: 25px;
    width: 200px;
}

.checkoutProduct__rating {
    display: flex;
}